.profile {
    max-width: 68.75%;
    margin: 0 auto;
    padding: 40px 0 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1023px) {
    .profile {
        max-width: 88.13%;
    }
}

@media (max-width: 767px) {
    .profile {
        padding: 42px 0 36px;
        flex-direction: column;
    }
}