.profile__avatar {
    width: 120px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0;
    transition: opacity .3s linear;
}

.profile__avatar:hover {
    cursor: pointer;
    opacity: 0.2;
}