.elements__delete {
    all: unset;
    background-image: url(../../../images/elements/elements__delete.svg);
    width: 18px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: opacity .3s linear;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.elements__delete:hover {
    opacity: .5;
}